.headband {
  height: $headband-height;
  background: $headband-bg;
}

.site-meta {
  background: #8b5a00;
  background-image: linear-gradient(90deg, #f79533 0%, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, #1098ad 72%, #07b39b 86%, #6dba82 100%) !important;
}

.page-pv .busuanzi-value {
  margin: 0 !important;
}
